*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* banner section-start */
.banner{
    width: 100%;
    height: 100vh;
    
    background-image: 
    
    linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.521)),
    
    url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar img{
    width: 100px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 120px;
    cursor: pointer;

}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li :hover::after{
    width: 100%;
    }
/* banner section-end */
/* content start */
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
/* content end  */